# Support for direnv.

# For flake users, use the `use flake` directive.
if nix flake --help > /dev/null; then
    # Workaround for home-manager due to nix-community/nix-direnv#137
    NIX_BIN_PREFIX=$(readlink $(command -v nix))
    NIX_BIN_PREFIX="${NIX_BIN_PREFIX%/*}/"
    NIX_BIN_PREFIX="$NIX_BIN_PREFIX" use flake
# Otherwise use the `use nix` directive
elif command -v nix-env > /dev/null; then
    use nix
fi
