# Support for direnv.
# For flake users, use the `use flake` directive.
if nix flake --help > /dev/null; then
    use flake
# Otherwise use the `use nix` directive
elif command -v nix-env > /dev/null; then
    use nix
fi
